body {
  font-size: 1em;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  text-align: center;
}

section {
  padding: 30px;
  margin: 10px;
}

div {
  padding: 5px;
  margin: 10px;
}
